<h1>Editing match team</h1>

<%= render "form", match_team: @match_team %>

<br>

<div>
  <%= link_to "Show this match team", @match_team %> |
  <%= link_to "Back to match teams", match_teams_path %>
</div>
