<p style="color: green"><%= notice %></p>

<h1>Match teams</h1>

<div id="match_teams">
  <% @match_teams.each do |match_team| %>
    <%= render match_team %>
    <p>
      <%= link_to "Show this match team", match_team %>
    </p>
  <% end %>
</div>

<%= link_to "New match team", new_match_team_path %>
