<div id="<%= dom_id hole %>">
  <p>
    <strong>Course:</strong>
    <%= hole.course_id %>
  </p>

  <p>
    <strong>Par:</strong>
    <%= hole.par %>
  </p>

  <p>
    <strong>Stroke:</strong>
    <%= hole.stroke %>
  </p>

</div>
