<h1>Editing match hole player score</h1>

<%= render "form", match_hole_player_score: @match_hole_player_score %>

<br>

<div>
  <%= link_to "Show this match hole player score", @match_hole_player_score %> |
  <%= link_to "Back to match hole player scores", match_hole_player_scores_path %>
</div>
