<div style="text-align:center">
  <div class="d-flex justify-content-around my-5">
    <h1 class="logo" style="font-size:64px">C<h1>
    <h1 class="logo" style="font-size:64px">F</h1>
  </div>
  <h2 class="h1 logo mb-5">Cup</h2>

  <h2 class="mb-5">
    <span class="number-circle" style="padding: 8px 10px">29</span> <span style="color:white">APRIL - </span><span class="number-circle" style="padding: 8px 16px">1</span> <span style="color:white">MAY</span>
  </h2>

  <%= render 'nav' %>

  <%= image_tag 'qr_code.svg', width: '80px', height: '80px', style: "margin-top: 24px"%>
</div>
