<div style="text-align:center">
<div class="logo">
  <h1 style="margin:0">C<h1>
  <h1 style="margin:0">F</h1>
</div>
<h2 class="logo" style="margin:0">Cup<h2>

<br>
<h2><span class="number-circle">29</span> <span style="color:white">APRIL - </span><span class="number-circle">&nbsp;1&nbsp;</span> <span style="color:white">MAY</span></h2>

<br>
<%= link_to 'Register', players_path %>
</div>
