<h1>Players</h1>
<table>
  <tr>
    <th>Username</th>
    <th>First name</th>
    <th>Last name</th>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.username %></td>
      <td><%= player.first_name %></td>
      <td><%= player.last_name %></td>
    </tr>
  <% end %>
</table>
