<p style="color: green"><%= notice %></p>

<h1>Players</h1>

<div id="players">
  <% @players.each do |player| %>
    <div style="display:flex">
    <%= render player %>&emsp;
    <%= link_to "Show this player", player %>
    </div>
    <br>
  <% end %>
</div>

<%= link_to "New player", new_player_path %>
