<p style="color: green"><%= notice %></p>

<h1 class="logo">Players</h1>

<div id="players" style="background:white">
  <% @players.each do |player| %>
    <%= link_to player, style: "display:flex; padding:8px; border-bottom:1px solid lightgray; text-decoration:none; color:inherit" do %>
      <%= render player %>
    <% end %>
  <% end %>
</div>

<%= link_to "New player", new_player_path %>
