<h1 class="logo text-center my-3">Matches</h1>
<%= render 'nav' %>

<div id="matches">
  <% @matches.order(:date).each do |match| %>
    <%= link_to scores_path(match_id: match.id), style: "text-decoration:none; color:inherit" do %>
      <%= render match %>
    <% end %>
  <% end %>
</div>

<%= link_to "New match", new_match_path %>
