<p style="color: green"><%= notice %></p>

<h1 class="logo">Matches</h1>

<div id="matches">
  <% @matches.each do |match| %>
    <%= link_to match, style: "text-decoration:none; color:inherit" do %>
      <%= render match %>
    <% end %>
  <% end %>
</div>

<%= link_to "New match", new_match_path %>
