/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

:root {
  --box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(255, 193, 224);
}

.logo {
  margin: 0;
  color: white;
  text-shadow: 4px 4px #000;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
}

.number-circle {
  border-radius: 50%;
  width: 44px;
  height: 34px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
}

td, th {
  padding: 8px;
}